body{
  background: rgb(0, 0, 30);
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  background: rgb(62, 62, 62);
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 5px 20px;
  border-radius: 15px 15px 0 0;
}

.header h1{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 0;
  user-select: none;
}

.navbar{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.navbar-content a{
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.navbar-content a:hover{
  color: rgb(187, 226, 253);
}

.navbar-content button{
  background: rgb(62, 62, 62);
  border: white solid;
  border-width: 0 1px;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

.navbar-content span{
  padding: 0 15px;
  color: white;
  transition: color 0.2s ease;
}

.navbar-content span:hover{
  color: rgb(187, 226, 253);
}

.navbar-content button:first-child{
  border-left: none;
}

.navbar-content button:first-child a{
  padding-left: 5px;
}

.navbar-content button:last-child{
  border-right: none;
}

.main{
  background: rgb(238, 238, 238);
  color: black;
  width: 90%;
  margin: 0 auto;
  padding: 1px 20px;
}

.footer{
  background: rgb(62, 62, 62);
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 5px 20px;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
}

.window-card{
  background: white;
  margin: 15px auto;
  padding: 5px 15px;
  width: 80%;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
}

.user-form{
  font-size: large;
}

.user-form div{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.user-form label{
  font-weight: bold;
  width: 180px;
}

.user-form label > span{
  color: red;
}

.user-form input{
  height: 25px;
  width: 230px;
  padding: 1px 10px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 5px;
  flex: 1;
}

.user-form button{
  padding: 1px 10px;
  height: 30px;
  font-size: medium;
  background: rgb(62, 62, 62);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background 0.2s ease;
}

.user-form button:hover{
  background: rgb(87, 87, 87);
  cursor: pointer;
}

.user-form input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.error-message{
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: small;
  color: red;
}

.success-message{
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: small;
  color: green;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.paginationButtons span{
    margin: 0 5px;
}

.paginationButtons button{
    background: rgb(62, 62, 62);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.paginationButtons button:hover{
    background: rgb(46, 46, 46);
    cursor: pointer;
}

.paginationButtons button:disabled{
    background: rgb(181, 181, 181);
    cursor: default;
}

.paginationButtonsDark span{
    margin: 0 5px;
}

.paginationButtonsDark button{
    background: white;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.paginationButtonsDark button:hover{
    background: rgb(216, 216, 216);
    cursor: pointer;
}

.paginationButtonsDark button:disabled{
    background: rgb(181, 181, 181);
    cursor: default;
}

.topic-head{
    width: 90%;
    background: rgb(61, 57, 57);
    color: white;
    border-radius: 15px;
    margin: 30px auto;
    padding: 20px;
}

.hasMore{
    margin-top: 30px;
    margin-bottom: 10px;
}

.hasMore button{
    display: block;
    background: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    font-weight: bold;
    width: 30%;
    transition: background 0.2s ease;
}

.hasMore button:hover{
    background: rgb(216, 216, 216);
    cursor: pointer;
}

.topicsNav{
    display: flex;
    background: rgb(38, 36, 36);
    padding: 10px;
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white;
}

.topicsNav button{
    border: solid white;
    border-width: 0 1px;
    background: none;
    padding: 0;
}

.topicsNav button:hover{
    cursor: pointer;
}

.topicsNav button:disabled{
    cursor: default;
}

.topicsNav span{
  padding: 0 15px;
  color: white;
  transition: color 0.2s ease;
  font-size: large;
    font-weight: bold;
}

.topicsNav span:hover{
  color: rgb(187, 226, 253);
}

.topicsNav button:first-child{
  border-left: none;
}

.topicsNav button:first-child a{
  padding-left: 5px;
}

.topicsNav button:last-child{
  border-right: none;
}

.userTopics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.errorPage{
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

.errorPage h1{
    font-size: 50px;
    margin-bottom: 0;
}

.errorPage h2{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.errorPage p{
    margin-bottom: 50px;
}

.errorPage a{
    background: rgb(62, 62, 62);
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    font-weight: bold;
    transition: background 0.2s ease;
}

.errorPage a:hover{
    background: rgb(46, 46, 46);
}

@media (max-width: 768px) {
    .userTopics {
        grid-template-columns: 1fr;
    }
}
