.commentSection{
    padding-left: 20px;
    padding-right: 20px;
}

.commentSection hr{
    border: none;
    border-top: 2px dotted #d1d1d1;
    color: #fff;
    background-color: transparent;
    height: 1px;
    margin: 30px auto;
    opacity: 0.3;
}

.commentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    margin-right: 5px;
}

.user a{
    margin-right: 5px;
    color: rgb(17, 216, 17);
    font-weight: bold;
    text-decoration: none;
}

.user a:hover{
    color: rgb(0, 255, 0);
}

.date{
    margin-right: 10px;
}

.edited{
    font-size: small;
}

.deleteButton{
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 10px;
    color: white;
    background: red;
    transition: background ease 0.2s;
    margin-right: 5px;
}

.deleteButton:hover{
    cursor: pointer;
    background: rgb(180, 7, 7);
}

.editButton{
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 10px;
    background: rgb(158, 158, 3);
    transition: background ease 0.2s;
    margin-right: 5px;
}

.editButton:hover{
    cursor: pointer;
    background: rgb(124, 124, 2);
}

.commentContent{
    padding-left: 10px;
    padding-right: 10px;
}

.editForm > div{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
}

.editForm textarea{
    background: rgb(65, 63, 63);
    color: white;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    flex: 1;
    resize: vertical;
}

.editForm textarea::placeholder{
    color: white;
    opacity: 0.7;
}

.editForm button{
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background: green;
    color: white;
    font-weight: bold;
    margin-left: auto;
    transition: background ease 0.2s;
}

.editForm button:hover{
    background: rgb(8, 198, 8);
    cursor: pointer;
}

.commentReaction{
    display: flex;
    align-items: center;
}

.commentReaction button{
    height: 30px;
    padding: 3px 5px 3px 5px;
    background: rgb(42, 42, 42);
    font-weight: bold;
    transition: background ease 0.2s;
}

.commentReaction button:hover{
    cursor: pointer;
    background: rgb(25, 25, 25);
}

.commentReaction button:disabled{
    cursor: default;
    background: rgb(42, 42, 42);
}

.likeButton{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.dislikeButton{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}
