.actionWindow{
    width: 95%;
    padding: 15px;
    border: 1px solid black;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background: white;
}

.searchBar{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.actionWindow label{
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}

.searchBar input{
    flex: 1;
    border-radius: 10px;
    padding: 5px 10px;
}

.searchBar button{
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}

.searchBar button:hover{
    cursor: pointer;
}

.searchButton{
    background: rgb(62, 62, 62);
    color: white;
    transition: background ease 0.2s;
    border-color: white;
}

.searchButton:hover{
    background: rgb(90, 90, 90);
}

.clearButton{
    background: rgb(238, 238, 238);
    color: black;
    transition: background ease 0.2s;
}

.clearButton:hover{
    background: rgb(210, 210, 210);
}

.orderButton{
    background: rgb(44, 63, 92);
    color: white;
    transition: background ease 0.2s;
}

.orderButton:hover{
    background: rgb(28, 40, 58);
}

.createButton{
    margin-left: auto;
    color: white;
    transition: color ease 0.2s;
}

.createButton:hover{
    opacity: 0.9;
}

.formWindow{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.topicForm{
    font-size: large;
}

.topicForm label{
    width: 100px;
    margin-right: 15px;
}

.topicForm label > span{
  color: red;
}

.topicForm > div{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.topicForm input,
.topicForm textarea {
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    font-size: medium;
    font-family: inherit;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.2s;
}

.topicForm textarea {
    min-height: 100px;
    resize: vertical;
}

.topicForm input:focus,
.topicForm textarea:focus {
    border: 2px solid black;
}

.topicForm button{
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    background: green;
    color: white;
    font-weight: bold;
    margin-left: auto;
    transition: background ease 0.2s;
}

.topicForm button:hover{
    background: rgb(8, 198, 8);
    cursor: pointer;
}
